/* --------------------------------Fonts */

h1 {
    font-family: 'Indie Flower', sans-serif;
    color: #fff;
    font-size: 50px;
    float: left;
    letter-spacing: 4px;
    text-shadow: 2px 2px 7px #111111;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 100%;
    float: right;
    letter-spacing: 4px;
}

body {
    font-family: 'Raleway' sans-serif;
    font-weight: 600;
    color: black;
}

/* --------------------------------Header section */

header {
    background-color: #9bdb91;
    height: 95px;
}

#logo {
    float: left;
    margin-left: 40px;
    margin-top: 10px;
}

#menu {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    font-size: 100%;
    display: inline;
    text-shadow: 1px 1px 7px #111111;
}

#logo, #menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}

.navbar a {
    font-family: 'Raleway' sans-serif;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px 7px #111111;
}

.navbar-light {
    background-color: #9bdb91;
}

.nav-item {
    font-family: 'Raleway', sans-serif;
}

.dropdown-menu {
    position: relative;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #9bdb91;
    background-clip: padding-box;
}