* {
    margin: 0;
    padding: 0;
    border: 0;
}


/* --------------------------------Fonts */

h1 {
    font-family: 'Indie Flower', sans-serif;
    color: #fff;
    font-size: 50px;
    float: left;
    letter-spacing: 4px;
    text-shadow: 2px 2px 7px #111111;
}

h2,
h3 {
    font-family: 'Indie Flower', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: black;
}


/* --------------------------------Header section */


/* -------------Navbar */

#logo {
    font-family: 'Indie Flower', sans-serif;
    color: #fff;
    font-size: 50px;
    float: left;
    letter-spacing: 4px;
    text-shadow: 2px 2px 7px #111111;
    float: left;
    margin-left: 60px;
    margin-top: 10px;
    white-space: pre-wrap;
}

.bg-dark {
    background-color: #53e058!important;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.navbar-nav {
    font-family: 'Indie Flower', sans-serif;
    font-size: 200%;
    text-shadow: 1px 1px 7px #111111;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-right: 60px;
    margin-bottom: 0;
    list-style: none;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-size: 150%;
    font-weight: 600;
    color: #fff;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu {
    z-index: 1000;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: #53e058;
    background-clip: padding-box;
    border: none;
}


/* --------------------------------Body section */


/* -------------Welcome */

.home-background {
    height: 610px;
    background: url('../images/park_pond.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home-background,
.image-overlay {
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.25); */
}

.image-overlay h2 {
    font-family: 'Indie Flower', sans-serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 7px #111111;
}

.image-overlay h4 {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 7px #111111;
}


/* -------------About */

#join {
    font-family: 'Indie Flower', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.why-join-left {
    padding: 30px 60px 30px 60px;
    width: 33%;
    float: right;
    text-align: left;
    margin-left: auto;
}

.why-join-center {
    padding: 30px 60px 30px 60px;
    text-align: center;
}

.why-join-right {
    padding: 30px 60px 30px 60px;
    width: 33%;
    float: left;
    text-align: right;
    margin-right: auto;
}

.join-image {
    border-radius: 50%;
    text-align: center;
}


/* -------------Meet Up */

#meet-up {
    background-image: url("../images/meadow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

#meet-up div {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.25);
    width: 24%;
    height: 300px;
    float: left;
    padding: 20px;
    text-align: center;
    margin: 10px 0px 10px 10px;
}

#meet-up a {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}


/* --------------------------------Footer section */

.footer {
    font-family: 'Raleway';
    color: #fff;
    text-shadow: 1px 1px 7px #111111;
    background-color: #53e058;
    margin: 0;
    height: 95px;
}

.h5,
h5 {
    text-align: center;
    font-size: 1.25rem;
    padding-top: 20px;
    margin-left: 15px;
}

.social-networks {
    text-align: center;
    font-size: 25px;
    letter-spacing: 10px;
    margin-top: -5px;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    color: #fff;
}

.social-networks a {
    color: #f8f9fa;
    text-decoration: none;
}


/* --------------------------------Media Queries */